{% extends 'trafficheader.html.twig' %}

{% block body %}
	{% block content %}
		<div class="row">
			<div class="mx-auto">
				{{ pimcore_image("tlogo", { "title": "Logo Image", "width": 100, "height": 100 }) }}
			</div>
		</div>

		{# Set the root node for navigation, fall back to a default if needed #}
		{% set navStartNode = document.getProperty('navigationRoot') is instanceof('\\Pimcore\\Model\\Document\\Page') ? document.getProperty('navigationRoot') : pimcore_document(16) %}

		{% set mainNavigation = pimcore_build_nav({
		active: document,
		root: navStartNode
		}) %}
		{# {{ dump(mainNavigation) }} #}

		<nav class="navbar-expand-lg navbar navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">BLR POLICE</a>
				<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						{% for navItem in mainNavigation %}
							<a class="nav-link" href="{{ navItem.uri }}" target="_blank" style="text-transform: uppercase;">{{ navItem.label }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</nav>


		<h2>{{ pimcore_input("feedbackform") }}</h2>
		{{ pimcore_select("valid_for", {
				"store": [
				["1", "Get Challan"],
				["2", "Inquiry"],
				["3", "Challan Status"]
				],
				"defaultValue" : "Select"
		}) }}

		<p class="feeds">
			{{ pimcore_textarea("feedback_form",{
				"nl2br": true,
				"height": 300,
				"placeholder": "Give Feedback"
				}) }}
		</p>
		{{ pimcore_date('myDate', {
			'format': 'd.m.Y',
			'outputFormat': '%d.%m.%Y'
			})
			}}
		<section id="campaign_video">
			{{ pimcore_video('campaignVideo', {
				width: 700,
				height: 400
				}) }}
		</section>

		{{ pimcore_multiselect('challanCategory', {
			'width': 200,
			'height': 100,
			'store': [
			['1', 'Bike Challan'],
			['2', 'Car Challan'],
			['3', 'Truck Challan'],
			]
			}) }}

		{{ pimcore_numeric('myNumber') }}


		{{ pimcore_snippet("mySnippet", {"width": 250, "height": 100}) }}

		{{ pimcore_table("productProperties", {
			"width": 700,
			"height": 400,
			"defaults": {
			"cols": 2,
			"rows": 3,
			}
			})
			}}

		<h2>
			{{ pimcore_input("scheduleblock") }}
		</h2>
		{# {{ pimcore_scheduledblock("scheduleblock") }}

		{% for i in pimcore_scheduledblock('block').iterator %}
		<h2>{{ pimcore_input('blockinput') }}</h2>
								{{ pimcore_image('myimage') }}
		{% endfor %} #}

			<h3>
		{{ pimcore_input("pdfeditable") }}
		</h3>
			<div class="pdf"> {{ pimcore_pdf("newPdf", {"width": 640}) }}
		</div>

		<h3>
			{{ pimcore_input("embedsocialwidgets") }}
		</h3>

		{{ pimcore_embed("socialWidgets") }}

		<h3>
			{{ pimcore_input("checkboxfortermsandconditions") }}
		</h3>

		I Agree:
		{{ pimcore_checkbox('myCheckbox') }}

			<h3>
		{{ pimcore_input("blocks") }}
		</h3>
			{% if blockClass is iterable %}
				<ul>
					{% for bfields in blockClass %}
					<br>
						<li>
							<strong>
						Title:
						</strong>
						{{ bfields['title'].data }}
						<br>
							<strong>
						Number:
						</strong>
						{{ bfields['number'].data }}
							<strong>
						Email:
						</strong>
						{{ bfields['email'].data }}
							<strong>
						Location:
						</strong>
						{{ bfields['location'].data }}
							<strong>
						Office:
						</strong>
					{{ bfields['office'].data }}
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>Block not created</p>
		{% endif %}

		
		<h3>
			{{ pimcore_input("field-collections") }}
		</h3>
		{% if challan.cfields is not null %}
			{% for citems in challan.cfields.items %}
				<li>
					<strong>
						FirstName:
					</strong>
					{{ citems.firstname }}
				</li>
				<li>
					<strong>
						LastName:
					</strong>
					{{ citems.Lastname }}
				</li>
				<li>
					<strong>
						ChallanDate:
					</strong>
					{{ citems.challandate }}
				</li>
				<li>
					<strong>
						ChallanImage:
					</strong>
					{{ citems.challanimage }}
				</li>
				<li>
					<strong>
						ChallanNumber:
					</strong>
					{{ citems.challannumber }}
				</li>

			{% endfor %}
		{% else %}
			<p>Challan not found</p>
		{% endif %}


	{% endblock %}
{% endblock %}
